h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 59pt;
  color: #0a2ff1;
}


span{
    background-color: #3ffff3;
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 23pt;
    color: #0a2ff1;
}

img { 
    width: 400px; 
    background-image: url(fondo.JPG);
}

body { 
    width: 100%;
}